---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="三宮.dev イベント投票ページ">
  <Navbar></Navbar>
  <main>
    <div>something event propotion</div>
  </main>
  <Footer></Footer>
</Layout>

<style>
  main {
    min-height: calc(100vh - 120px);
  }
</style>
