---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import NewProposalButton from '../components/NewProposalButton.astro';
import Proposal from '../components/Proposal.astro';
import { createClient } from '@supabase/supabase-js';

const supabase = createClient(import.meta.env.PUBLIC_SUPABASE_PROJECT_URL, import.meta.env.PUBLIC_SUPABASE_PUBLIC_KEY);
const { data: proposals } =
  await supabase
  .from('proposals')
  .select(`id, title, overview, uuid, votes(id)`)
  .is('archived_at', null)
  .order('votes_count', { ascending: false })
  .order('proposed_at', { ascending: false });
---

<Layout title="三宮.dev イベント投票ページ">
  <Navbar></Navbar>
  <main class="px-[10px] sm:px-[60px] pt-[30px]">
    <section id="site-header">
      <p id="site-description" class="mb-4">
        三宮.devのイベント提案・投票サイトへようこそ！<br>
        開催して欲しいイベントがあれば、遠慮なく気軽に提案／投票していってください<br>
        ※なお、一度投票すると取り消せませんのでご注意ください
      </p>
      <NewProposalButton>
        イベント案を追加する
      </NewProposalButton>
    </section>
    <section id="proposals" class="mt-4">
      {proposals?.map(proposal => (
        <Proposal title={proposal.title} overview={proposal.overview} uuid={proposal.uuid} voteCount={proposal.votes.length}></Proposal>
      ))}
    </section>
  </main>
  <!-- Navbar componentが使いまわせそう -->
  <Footer></Footer>
</Layout>

<style lang="scss">
  main {
    #site-header {
      #site-description {
        font-size: 14px;
      }
    }
    min-height: calc(100vh - 120px);
  }
</style>
