---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Button from '../components/Button.astro';
---

<Layout title="三宮.dev イベント投票ページ">
  <Navbar></Navbar>
  <main class="px-[60px] pt-[30px]">
    <section>
      <Button>
        <i class="fa fa-plus"></i>
        イベント案を追加する
      </Button>
    </section>
    <section id="proposals" class="mt-4">
      <div>something event propotion</div>
    </section>
  </main>
  <!-- Navbar componentが使いまわせそう -->
  <Footer></Footer>
</Layout>

<style>
  main {
    min-height: calc(100vh - 120px);
  }
</style>
