---
---

<nav id="footer" class="flex justify-end items-center h-[60px] px-[30px]">
  <p class="text-[20px] font-[400]">&copy; 三宮.dev</p>
</nav>

<style is:inline lang="scss">
  #footer {
    background-color: #EEE;
  }
</style>
