---
---

<nav id="footer" class="flex justify-end items-center h-[60px] px-[30px]">
  <a class="decoration-0 block text-[20px] font-[400]" href="https://sannomiya.dev/">&copy; 三宮.dev</a>
</nav>

<style is:inline lang="scss">
  #footer {
    background-color: #EEE;
  }
</style>
