<nav id="navbar" class="flex items-center h-[60px] px-[30px]">
  <img class="p-[10px]" src="/logo_c.svg" alt="ロゴ" />
  <p class="text-[20px] font-[700]">三宮.dev イベント提案・投票サイト</p>
</nav>

<style is:inline lang="scss">
  #navbar {
    background-color: #EEE;
  }
</style>
