---
---

<nav id="navbar" class="flex justify-between items-center h-[60px] px-[30px]">
  <p class="text-[20px] font-[700]">三宮.dev イベント提案・投票サイト</p>
</nav>

<style is:inline lang="scss">
  #navbar {
    background-color: #EEE;
  }
</style>
